/* Hiding elements on page load so no flash */
body {
  visibility: hidden;
}
#guide-content {
  visibility: hidden;
}

/* Hide everything but settings */
body.hideMode.hideHomepageSidebar
  ytd-guide-section-renderer:first-child
  #items
  > ytd-guide-entry-renderer:not(:first-child):not(:nth-child(4)),
body.hideMode.hideHomepageSidebar
  ytd-guide-section-renderer:not(:nth-child(4)):not(:nth-child(1)):not(:nth-child(2)) {
  display: none;
}

body.hideMode.hidePlayerRelated #related,
body.hideMode.hidePlayerComments .ytd-comments,
body.hideMode.hideHomepageVideos ytd-rich-grid-renderer,
body.hideMode.hideHomepageVideos ytd-video-masthead-ad-v3-renderer,
body.hideMode.hideHomepageSidebar .ytd-mini-guide-renderer:not(:first-child):not(:nth-child(4)):not(:nth-child(5)),
body.hideMode.hidePlayerEndwall .videowall-endscreen {
  display: none;
}

/* Hiding some popup ads by default*/
body.hideMode #companion,
body.hideMode .ytp-ad-text-overlay,
body.hideMode .ytp-ad-overlay-image,
body.hideMode .ytp-ad-overlay-container,
body.hideMode ytd-promoted-video-renderer,
body.hideMode ytd-video-masthead-ad-v3-renderer,
body.hideMode ytd-action-companion-ad-renderer,
body.hideMode .ytd-player-legacy-desktop-watch-ads-renderer,
body.hideMode ytd-promoted-sparkles-text-search-renderer,
body.hideMode ytd-promoted-sparkles-web-renderer {
  display: none;
}
