/* Hiding elements on page load so no flash */
body {
  visibility: hidden;
}
#guide-content {
  visibility: hidden;
}

/*************************************
styles for when user has asked to hide distractions
***************************************/
body.yf-hide.homepage-videos-hide ytd-rich-grid-renderer,
body.yf-hide.homepage-videos-hide ytd-video-masthead-ad-v3-renderer,
body.yf-hide.homepage-sidebar-hide ytd-mini-guide-renderer,
body.yf-hide.videoplayer-endwall-hide .videowall-endscreen,
body.yf-hide.videoplayer-related-hide #upnext {
  visibility: hidden;
}
/* Hide everything but settings */
body.yf-hide.homepage-sidebar-hide
  ytd-guide-section-renderer:first-child
  #items
  > ytd-guide-entry-renderer:not(:first-child):not(:nth-child(3)),
body.yf-hide.homepage-sidebar-hide
  ytd-guide-section-renderer:not(:nth-child(4)):not(:nth-child(1)):not(:nth-child(2)) {
  display: none;
}

body.yf-hide.videoplayer-related-hide #items.ytd-watch-next-secondary-results-renderer,
/* video below autoplay */
body.yf-hide.videoplayer-related-hide #contents.ytd-compact-autoplay-renderer,
/* Ad above autoplay */
body.yf-hide.videoplayer-related-hide #companion,
body.yf-hide.videoplayer-comments-hide .ytd-comments {
  display: none;
}

/* Hiding some popup ads by default*/
/* body.yf-hide .ytp-ad-text-overlay */
/* body.yf-hide .ytp-ad-overlay-image, */
body.yf-hide .ytp-ad-overlay-container,
body.yf-hide ytd-promoted-video-renderer,
body.yf-hide ytd-video-masthead-ad-v3-renderer,
body.yf-hide ytd-action-companion-ad-renderer,
body.yf-hide .ytd-player-legacy-desktop-watch-ads-renderer,
body.yf-hide ytd-promoted-sparkles-text-search-renderer,
body.yf-hide ytd-promoted-sparkles-web-renderer {
  display: none;
}
