/* Hiding elements on page load so no flash */
body {
  visibility: hidden;
}
#guide-content {
  visibility: hidden;
}

/*************************************
styles for when user has asked to hide distractions
***************************************/

/* "upnext" next to autoplay toggle */
body.yf-hide #upnext,
/* hides trending..etch*/
/* body.yf-hide ytd-browse[page-subtype="channels"], */

/* body.yf-hide #contentContainer, */
/* body.yf-hide #guide-icon, */
body.yf-hide ytd-banner-promo-renderer,
body.yf-hide ytd-rich-grid-renderer,
body.yf-hide grid-title,
/* body.yf-hide #items, */
body.yf-hide ytd-video-masthead-ad-v3-renderer,
body.yf-hide ytd-mini-guide-renderer,
/* body.yf-hide #guide-content, */

body.yf-hide .videowall-endscreen {
  visibility: hidden;
}

/* Hide everything but settings */
body.yf-hide
  ytd-guide-section-renderer:first-child
  #items
  > ytd-guide-entry-renderer:not(:first-child),
body.yf-hide ytd-guide-section-renderer:not(:nth-child(4)):not(:nth-child(1)) {
  display: none;
}

body.yf-hide #items.ytd-watch-next-secondary-results-renderer,
/* video below autoplay */
body.yf-hide #contents.ytd-compact-autoplay-renderer,
/* Ad above autoplay */
body.yf-hide #companion {
  display: none;
}
