body {
  margin: 0;
  width: 320px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

main {
  padding: 1rem;
  margin: 0;
  background-color: rgb(247, 247, 247);
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
}

section {
  padding: 0;
}

.section-header {
  font-size: 12px;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  color: rgb(74, 74, 74);
}

.section-content {
  padding: 1rem;
  background: white;
  border-radius: 0.5rem;
  border-color: rgb(230, 230, 230);
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 84%, 0.5);
}

.section-content-header {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 14px;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-size: 14px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

.schedule-input {
  width: 4.75rem;
  text-align: center;
  padding: 0;
}

footer {
  padding: 1rem;
}

#rate {
  float: right;
}

a:visited {
  color: blue;
}
