body {
  margin: 0;
  width: 16rem;
}

.header {
  margin-bottom: 1.5rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

hr {
  margin: 0;
  border-top: px solid black;
}

.popup-body {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
}

.popup-body-section {
  margin-bottom: 1.5rem;
}

.section-header {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.informational-text {
  white-space: nowrap;
  display: inline-block;
  line-height: 20px;
  vertical-align: top;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  font-size: 14px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

.schedule-input {
  width: 4.75rem;
  text-align: center;
  padding: 0;
}

.contact {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#rate {
  float: right;
}

a:visited {
  color: blue;
}
